@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    height: fit-content;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.main.900");
    border-right-color: theme("colors.main.200");
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

:root {
  @apply bg-gray-50;
}

input {
  @apply px-2;
}
.fc-header-toolbar {
  display: inline-block;
  padding: 4px 4px;

  @apply space-x-8;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-secondary-50;
}

.fc-h-event {
  @apply border border-secondary-800 border-y-2 font-semibold;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-main-200;
}

.fc .fc-button {
  @apply bg-main-700 hover:bg-main-900;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-main-600;
}

.fc .fc-button-primary:disabled {
  @apply bg-main-600;
}
.fc-v-event {
  @apply bg-main-500 border border-main-600;
}
